development/2_devBuild/admin/01-02-01_Top-AllRequests.html
<!DOCTYPE html>
<html>
<!-- 「head ================================================================-->

<head>
    <!--      {{ $pageHeadData->title }}       -->
    <title>MyLanding-Studio.ru - Панель администратора</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Bokov Gleb, MyLanding Studio">
    <!-- <meta name="csrf-token" content="{{ csrf_token() }}">-->
    <!--      href="{{ asset('common/img/favicon.ico') }}"       -->
    <link rel="shortcut icon" type="image/x-icon" href="../common/img/favicon.ico">
    <!--      @yield('CssLinks')-->
    <!--      @yield('EndHeadJS')-->
    <link href="css/Main.css" rel="stylesheet">
    <!-- head」 ===============================================================-->
</head>

<body>
    <div class="AdminPanelLayout-PageWrapper">
        <!-- 「header ============================================================-->
        <!--      @include('admin/widgets/AdminPanelHeader')       -->
        <div class="AdminPanelLayout-Header">
            <div class="AdminPanelLayout-Header-TempContains"></div>
        </div>
        <!-- header」 ============================================================-->
        <div class="AdminPanelLayout-NavPanelAndContent">
            <!-- 「navmenu =========================================================-->
            <!--      @include('admin/widgets/NavPanel')       -->
            <div class="AdminPanelLayout-NavPanel">
                <div class="NavPanel-ItemsNode">
                    <div class="NavPanel-Item-Wrapper" id="Statistics-NavMenuLinkButton">
                        <div class="NavPanel-Item-IconCell">
                            <svg viewbox="0 0 24 24">
                                <path d="M22,21H2V3H4V19H6V10H10V19H12V6H16V19H18V14H22V21Z"></path>
                            </svg>
                        </div>
                        <div class="NavPanel-Item-TitleCell">Статистика</div>
                        <div class="NavPanel-Item-SpecialCell"></div>
                        <div class="NavPanel-Item-ExpandButtonCell">
                            <svg class="collapsed" viewbox="0 0 24 24">
                                <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
                            </svg>
                            <svg class="expanded" viewbox="0 0 24 24">
                                <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="NavPanel-ItemsNode">
                    <div class="NavPanel-Item-Wrapper" id="Requests-NavMenuLinkButton">
                        <div class="NavPanel-Item-IconCell">
                            <svg viewbox="0 0 24 24">
                                <path d="M13,10H11V6H13M13,14H11V12H13M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4C22,2.89 21.1,2 20,2Z"></path>
                            </svg>
                        </div>
                        <div class="NavPanel-Item-TitleCell">Заявки</div>
                        <div class="NavPanel-Item-SpecialCell"></div>
                        <div class="NavPanel-Item-ExpandButtonCell">
                            <svg class="collapsed" viewbox="0 0 24 24">
                                <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
                            </svg>
                            <svg class="expanded" viewbox="0 0 24 24">
                                <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="NavPanel-Subitem" id="RequestsSubitemDuplicate-NavMenuLinkButton">Все заявки</div>
                    <div class="NavPanel-Subitem" id="RequestsSettings-NavMenuLinkButton">Настройки заявок</div>
                </div>
                <div class="NavPanel-ItemsNode">
                    <div class="NavPanel-Item-Wrapper disabled" id="Deals-NavMenuLinkButton">
                        <div class="NavPanel-Item-IconCell">
                            <svg viewbox="0 0 24 24">
                                <path d="M11.8,10.9C9.53,10.31 8.8,9.7 8.8,8.75C8.8,7.66 9.81,6.9 11.5,6.9C13.28,6.9 13.94,7.75 14,9H16.21C16.14,7.28 15.09,5.7 13,5.19V3H10V5.16C8.06,5.58 6.5,6.84 6.5,8.77C6.5,11.08 8.41,12.23 11.2,12.9C13.7,13.5 14.2,14.38 14.2,15.31C14.2,16 13.71,17.1 11.5,17.1C9.44,17.1 8.63,16.18 8.5,15H6.32C6.44,17.19 8.08,18.42 10,18.83V21H13V18.85C14.95,18.5 16.5,17.35 16.5,15.3C16.5,12.46 14.07,11.5 11.8,10.9Z"></path>
                            </svg>
                        </div>
                        <div class="NavPanel-Item-TitleCell">Сделки</div>
                        <div class="NavPanel-Item-SpecialCell"></div>
                        <div class="NavPanel-Item-ExpandButtonCell">
                            <svg class="collapsed" viewbox="0 0 24 24">
                                <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
                            </svg>
                            <svg class="expanded" viewbox="0 0 24 24">
                                <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="NavPanel-ItemsNode">
                    <div class="NavPanel-Item-Wrapper disabled" id="SystemNotifications-NavMenuLinkButton">
                        <div class="NavPanel-Item-IconCell">
                            <svg viewbox="0 0 24 24">
                                <path fill="#000000" d="M13,14H11V10H13M13,18H11V16H13M1,21H23L12,2L1,21Z"></path>
                            </svg>
                        </div>
                        <div class="NavPanel-Item-TitleCell">Системные оповещения</div>
                        <div class="NavPanel-Item-SpecialCell"></div>
                        <div class="NavPanel-Item-ExpandButtonCell">
                            <svg class="collapsed" viewbox="0 0 24 24">
                                <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
                            </svg>
                            <svg class="expanded" viewbox="0 0 24 24">
                                <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <!-- navmenu」 =========================================================-->
            <div class="AdminPanelLayout-MainContent">
                <!-- 「content ========================================================-->
                <!--      @yield('Content')       -->
                <div class="FeedbackRequests-Wrapper">
                    <div class="FeedbackRequests-Heading">Заявки</div>
                    <div class="FeedbackRequests-CardView">
                        <div class="FeedbackRequests-CardView-Item new">
                            <div class="FeedbackRequests-CardView-Item-TimeAndLabel"><span class="FeedbackRequests-CardView-Item-Label new">Новая</span><span class="FeedbackRequests-CardView-Item-Time">12:45  11 января 2018</span>
                            </div>
                            <div class="FeedbackRequests-CardView-Item-Name">Устимович Григорий</div>
                            <div class="FeedbackRequests-CardView-Item-Email">effennarrex-9053@yopmail.com</div>
                        </div>
                        <div class="FeedbackRequests-CardView-Item new">
                            <div class="FeedbackRequests-CardView-Item-TimeAndLabel"><span class="FeedbackRequests-CardView-Item-Label new">Новая</span><span class="FeedbackRequests-CardView-Item-Time">12:45  11 января 2018</span>
                            </div>
                            <div class="FeedbackRequests-CardView-Item-Name">Кудайбергенова Анфиса</div>
                            <div class="FeedbackRequests-CardView-Item-Email">effennarrex-9053@yopmail.com</div>
                        </div>
                        <div class="FeedbackRequests-CardView-Item">
                            <div class="FeedbackRequests-CardView-Item-TimeAndLabel"><span class="FeedbackRequests-CardView-Item-Label processed">Переговоры</span><span class="FeedbackRequests-CardView-Item-Time">12:45  11 января 2018</span>
                            </div>
                            <div class="FeedbackRequests-CardView-Item-Name">Титова Дарья</div>
                            <div class="FeedbackRequests-CardView-Item-Email">effennarrex-9053@yopmail.com</div>
                        </div>
                        <div class="FeedbackRequests-CardView-Item">
                            <div class="FeedbackRequests-CardView-Item-TimeAndLabel"><span class="FeedbackRequests-CardView-Item-Label deal">Сделка</span><span class="FeedbackRequests-CardView-Item-Time">12:45  11 января 2018</span>
                            </div>
                            <div class="FeedbackRequests-CardView-Item-Name">Алексеева Эмилия</div>
                            <div class="FeedbackRequests-CardView-Item-Email">effennarrex-9053@yopmail.com</div>
                        </div>
                        <div class="FeedbackRequests-CardView-Item canceled">
                            <div class="FeedbackRequests-CardView-Item-TimeAndLabel"><span class="FeedbackRequests-CardView-Item-Label canceled">Аннулирован</span><span class="FeedbackRequests-CardView-Item-Time">12:45  11 января 2018</span>
                            </div>
                            <div class="FeedbackRequests-CardView-Item-Name">Калинина Виктория</div>
                            <div class="FeedbackRequests-CardView-Item-Email">effennarrex-9053@yopmail.com</div>
                        </div>
                        <div class="FeedbackRequests-CardView-Item complete">
                            <div class="FeedbackRequests-CardView-Item-TimeAndLabel"><span class="FeedbackRequests-CardView-Item-Label complete">Завершён</span><span class="FeedbackRequests-CardView-Item-Time">12:45  11 января 2018</span>
                            </div>
                            <div class="FeedbackRequests-CardView-Item-Name">Пищальникова Раиса</div>
                            <div class="FeedbackRequests-CardView-Item-Email">effennarrex-9053@yopmail.com</div>
                        </div>
                        <div class="FeedbackRequests-CardView-Item">
                            <div class="FeedbackRequests-CardView-Item-TimeAndLabel"><span class="FeedbackRequests-CardView-Item-Label new"></span><span class="FeedbackRequests-CardView-Item-Time">12:45  11 января 2018</span>
                            </div>
                            <div class="FeedbackRequests-CardView-Item-Name">Низовцов Иван</div>
                            <div class="FeedbackRequests-CardView-Item-Email">effennarrex-9053@yopmail.com</div>
                        </div>
                        <div class="FeedbackRequests-CardView-Item">
                            <div class="FeedbackRequests-CardView-Item-TimeAndLabel"><span class="FeedbackRequests-CardView-Item-Label new"></span><span class="FeedbackRequests-CardView-Item-Time">12:45  11 января 2018</span>
                            </div>
                            <div class="FeedbackRequests-CardView-Item-Name">Яблонов Алексей</div>
                            <div class="FeedbackRequests-CardView-Item-Email">effennarrex-9053@yopmail.com</div>
                        </div>
                        <div class="FeedbackRequests-CardView-Item">
                            <div class="FeedbackRequests-CardView-Item-TimeAndLabel"><span class="FeedbackRequests-CardView-Item-Label new"></span><span class="FeedbackRequests-CardView-Item-Time">12:45  11 января 2018</span>
                            </div>
                            <div class="FeedbackRequests-CardView-Item-Name">Пыхтин Модест</div>
                            <div class="FeedbackRequests-CardView-Item-Email">effennarrex-9053@yopmail.com</div>
                        </div>
                    </div>
                </div>
                <!-- content」 ========================================================-->
            </div>
        </div>
        <div class="Overlay-AbsoluteWrapper">
            <div class="Overlay-RelativeField">
                <!--      @yield('HiddenElements')     -->
            </div>
        </div>
    </div>
    <!--      @yield('EndBodyJS')     -->
    <script src="js/AdminPanel_Main.js"></script>
</body>

</html>

development/1_source/2_admin/1_pug/01-02-01_Top-AllRequests.pug
extends layouts/basic

mixin FeedbackRequestCardViewItem(data)

    div(class='FeedbackRequests-CardView-Item', class=data.itemClassModifier)
        div.FeedbackRequests-CardView-Item-TimeAndLabel
            span(class='FeedbackRequests-CardView-Item-Label' class=data.labelClassModifier)=data.label
            span.FeedbackRequests-CardView-Item-Time=data.dateTime
        div.FeedbackRequests-CardView-Item-Name=data.name
        div.FeedbackRequests-CardView-Item-Email=data.email

block append CssLinks
    link(href='css/Main.css', rel='stylesheet')

block prepend Content

    div.FeedbackRequests-Wrapper
        div.FeedbackRequests-Heading Заявки
        

        div.FeedbackRequests-CardView
        
            +FeedbackRequestCardViewItem({  itemClassModifier : 'new', labelClassModifier : 'new', label : 'Новая',
                    dateTime : '12:45  11 января 2018', name:'Устимович Григорий', email:'effennarrex-9053@yopmail.com' })
            +FeedbackRequestCardViewItem({itemClassModifier : 'new', labelClassModifier : 'new', label : 'Новая',
                    dateTime : '12:45  11 января 2018', name:'Кудайбергенова Анфиса', email:'effennarrex-9053@yopmail.com'  })
            +FeedbackRequestCardViewItem({itemClassModifier : '', labelClassModifier : 'processed', label : 'Переговоры',
                    dateTime : '12:45  11 января 2018', name:'Титова Дарья', email:'effennarrex-9053@yopmail.com'  })
            +FeedbackRequestCardViewItem({itemClassModifier : '', labelClassModifier : 'deal', label : 'Сделка',
                    dateTime : '12:45  11 января 2018', name:'Алексеева Эмилия', email:'effennarrex-9053@yopmail.com'  })
            +FeedbackRequestCardViewItem({itemClassModifier : 'canceled', labelClassModifier : 'canceled', label : 'Аннулирован',
                    dateTime : '12:45  11 января 2018', name:'Калинина Виктория', email:'effennarrex-9053@yopmail.com'  })
            +FeedbackRequestCardViewItem({itemClassModifier : 'complete', labelClassModifier : 'complete', label : 'Завершён',
                    dateTime : '12:45  11 января 2018', name:'Пищальникова Раиса', email:'effennarrex-9053@yopmail.com'  })
            +FeedbackRequestCardViewItem({itemClassModifier : '', labelClassModifier : 'new', label : '',
                    dateTime : '12:45  11 января 2018', name:'Низовцов Иван', email:'effennarrex-9053@yopmail.com'  })
            +FeedbackRequestCardViewItem({itemClassModifier : '', labelClassModifier : 'new', label : '', 
                    dateTime : '12:45  11 января 2018', name:'Яблонов Алексей', email:'effennarrex-9053@yopmail.com'  })
            +FeedbackRequestCardViewItem({itemClassModifier : '', labelClassModifier : 'new', label : '', 
                    dateTime : '12:45  11 января 2018', name:'Пыхтин Модест', email:'effennarrex-9053@yopmail.com'  })
        

block append HiddenElements

block prepend EndBodyJS
    script(src='js/AdminPanel_Main.js')
